[package]
name = "sux"
authors = ["Tommaso Fontana <tommaso.fontana.96@gmail.com>", "Sebastiano Vigna <sebastiano.vigna@unimi.it>"]
description = "A pure Rust implementation of succinct and compressed data structures"
version = "0.2.0"
edition = "2021"
repository = "https://github.com/vigna/sux-rs/"
license = "Apache-2.0 OR LGPL-2.1-or-later"
readme = "README.md"
categories = ["compression", "data-structures"]
keywords = ["succinct", "rank", "select"]

[dependencies]
anyhow = "1.0.79"
bitflags = "2.4.2"
bytemuck = "1.14.0"
common_traits = "0.10.0"
libc = "0.2.147"
log = "0.4.20"
mmap-rs = "0.6.1"
num_cpus = "1.16.0"
num-traits = "0.2.15"
rayon = {version = "1.8.1", optional=true}
#epserde = "0.4.0"
epserde = {git = "https://github.com/vigna/epserde-rs"}
clap = { version = "4.4.18", features = ["derive"] }
dsi-progress-logger = "0.2.2"
stderrlog = "0.5.4"
rand = {version="0.8.5", features=["small_rng"]}
zstd = "0.13.0"
tempfile = "3.9.0"
lender = "0.2.9"
arbitrary-chunks = "0.4.1"
derive_setters = "0.1.6"
flate2 = "1.0.28"
derivative = "2.2.0"
rdst = "0.20.12"
arbitrary = { version = "1.3.2", features = ["derive"], optional=true }
mem_dbg = "0.1.3"
maligned = "0.2.1"

[features]
default = ["rayon"]
fuzz = ["dep:arbitrary"]
slow = [] # Run slow tests (use --release)

[profile.release]
opt-level = 3             # like --release
lto = "fat"               # Full LTO
overflow-checks = false   # Disable integer overflow checks.
debug = true              # Include debug info.
debug-assertions = false  # Enables debug assertions.
codegen-units=1           # slower compile times, but maybe better perf
