[package]
name = "sux"
authors = [
	"Tommaso Fontana <tommaso.fontana.96@gmail.com>",
	"Sebastiano Vigna <sebastiano.vigna@unimi.it>",
]
description = "A pure Rust implementation of succinct and compressed data structures"
version = "0.5.0"
edition = "2021"
repository = "https://github.com/vigna/sux-rs/"
license = "Apache-2.0 OR LGPL-2.1-or-later"
readme = "README.md"
categories = ["compression", "data-structures"]
keywords = ["succinct", "rank", "select"]

[dependencies]
anyhow = "1.0.79"
bitflags = "2.4.2"
bytemuck = "1.14.0"
common_traits = "0.11.0"
libc = "0.2.147"
log = "0.4.20"
num_cpus = "1.16.0"
num-traits = "0.2.15"
dsi-progress-logger = "0.8.0"
tempfile = "3.9.0"
lender = "0.3.1"
mmap-rs = "0.6.1"
#epserde = "0.7.0"
epserde = { path = "../epserde-rs/epserde" }
zstd = { version = "0.13.1" }
flate2 = "1.0.28"
rand = { version = "0.9.0", features = ["small_rng"] }
rdst = "0.20.12"
mem_dbg = "0.2.4"
rayon = { version = "1.8.1", optional = true }
core_affinity = "0.8.1"
env_logger = { version = "0.11.0" }
ambassador = "0.4.0"
impl-tools = "0.10.0"
clap = { version = "4.4.18", features = ["derive"] }

# Fuzz
arbitrary = { version = "1.3.2", features = ["derive"], optional = true }

# Cli
arbitrary-chunks = "0.4.1"
derivative = "2.2.0"
derive_setters = "0.1.6"
xorf = "0.11.0"
crossbeam-channel = "0.5.14"
thiserror = "2.0.11"
itertools = "0.14.0"
pthash = { version = "0.4.0", features = ["rayon"] }
bytelines = "2.5.0"
xxhash-rust = { version = "0.8.15", features = ["xxh3"] }
pluralizer = "0.5.0"

[dev-dependencies]
maligned = "0.2.1"
criterion = { version = "0.5.1", features = ["html_reports"] }

[features]
default = ["rayon"]
cli = []                 # Build the binary utils
fuzz = ["dep:arbitrary"]
slow_tests = []          # Run slow tests (use --release)

[profile.release]
opt-level = 3 # like --release
#lto = "fat"              # Full LTO
overflow-checks = false  # Disable integer overflow checks.
debug = true             # Include debug info.
debug-assertions = false # Enables debug assertions.
#codegen-units = 1        # slower compile times, but maybe better perf

[lib]
bench = false

[[bin]]
name = "rcl"
required-features = ["cli"]

[[bin]]
name = "mem_usage"
required-features = ["cli"]

#[[bin]]
#name = "bench_like_cpp"
#required-features = ["cli"]

[[bench]]
name = "sux"
harness = false
required-features = ["cli"]

[[example]]
name = "bench_bit_field_vec"
required-features = ["cli"]

[[example]]
name = "bench_rank9"
required-features = ["cli"]

[[example]]
name = "bench_elias_fano"
required-features = ["cli"]

[[example]]
name = "bench_rear_coded_list"
required-features = ["cli"]
